singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}

executor {
    name = 'slurm'
    queueSize = 400
    submitRateLimit = 1
}

process {
  executor = 'slurm'
  beforeScript = 'module load singularity'
  container = 'nfcore/rnaseq:1.4.2'
  
  cpus = 2
  memory = 1.GB
  time = 2.h
}